<form id="details-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

   <input id="c-id" data-rule="required" class="form-control" name="callback" type="hidden" readonly="readonly" value="{$row.id}">
    <div class="form-group">
        <label for="c-message_title" class="control-label col-xs-12 col-sm-2">{:__('Message_title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-message_title" data-rule="required" class="form-control" name="row[message_title]" type="text" readonly="readonly" value="{$row.message_title}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-send_user_code" class="control-label col-xs-12 col-sm-2">{:__('Send_user_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_user_code" data-rule="required" class="form-control" name="row[send_user_code]" type="text" readonly="readonly" value="{$row.send_user_code}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-receive_user_code" class="control-label col-xs-12 col-sm-2">{:__('Receive_user_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-receive_user_code" data-rule="required" class="form-control" name="row[receive_user_code]" type="text" readonly="readonly" value="{$row.receive_user_code}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-send_time" class="control-label col-xs-12 col-sm-2">{:__('Send_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[send_time]" type="text" readonly="readonly" value="{$row.send_time}">
        </div>
    </div>
        <div class="form-group">
        <label for="c-message_content" class="control-label col-xs-12 col-sm-2">{:__('Message_content')}:</label>
        <div class="col-xs-12 col-sm-8">
            {$row.message_content}
        </div>
    </div>
</form>
