<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-id" class="control-label col-xs-12 col-sm-2">{:__('id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-id" data-rule="required" class="form-control" name="row[id]" type="number" readonly="readonly" value="{$row.id}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-product_productinfo_id" class="control-label col-xs-12 col-sm-2">{:__('Productinfo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control selectpicker" name="row[product_productinfo_id]" disabled="disabled" data-rule="required">
                {foreach name="productList" item="vo"}
                    <option value="{$vo.id}" {eq name="$vo.id" value="$row.product_productinfo_id"}selected="selected"{/eq}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-order_quantity" class="control-label col-xs-12 col-sm-2">{:__('Order_quantity')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_quantity" data-rule="required" class="form-control" name="row[order_quantity]" type="number" readonly="readonly" value="{$row.order_quantity}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-order_user_code" class="control-label col-xs-12 col-sm-2">{:__('Order_user_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_user_code" data-rule="required" class="form-control" name="row[order_user_code]" type="text" readonly="readonly" value="{$row.order_user_code}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-order_time" class="control-label col-xs-12 col-sm-2">{:__('Order_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[order_time]" type="text" readonly="readonly" value="{$row.order_time}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-order_phone" class="control-label col-xs-12 col-sm-2">{:__('Order_phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_phone" data-rule="required" class="form-control" name="row[order_phone]" type="text" readonly="readonly" value="{$row.order_phone}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-receive_address" class="control-label col-xs-12 col-sm-2">{:__('Receive_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-receive_address" data-rule="required" class="form-control" name="row[receive_address]" type="text" readonly="readonly" value="{$row.receive_address}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-receive_name" class="control-label col-xs-12 col-sm-2">{:__('Receive_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-receive_name" data-rule="required" class="form-control" name="row[receive_name]" type="text" readonly="readonly" value="{$row.receive_name}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-product_real_price" class="control-label col-xs-12 col-sm-2">{:__('Product_real_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product_real_price" data-rule="required" class="form-control" step="0.01" name="row[product_real_price]" readonly="readonly" type="number" value="{$row.product_real_price}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-order_total_price" class="control-label col-xs-12 col-sm-2">{:__('Order_total_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_total_price" data-rule="required" class="form-control" step="0.01" name="row[order_total_price]" readonly="readonly" type="number" value="{$row.order_total_price}">
        </div>
    </div>

    <!-- 待确认,显示确认按钮 -->
    {if $row['order_state']=='1'}
        <div class="control-label col-xs-12 col-sm-4"><a id="confirm_order" class="btn btn-info">{:__('Confirm Order')}</a></div>
        <div class="control-label col-xs-12 col-sm-4"><a id="void_order" class="btn btn-info">{:__('Void Order')}</a></div>
    {/if} 
    <!-- 已确认,填写发货信息 -->
    {if $row['order_state']=='2'} 
    <div class="form-group">
        <label for="c-send_user" class="control-label col-xs-12 col-sm-2">{:__('Send_user')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_user" data-rule="" class="form-control" name="row[send_user]" type="text"  data-rule="required" value="{$row.send_user}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-send_time" class="control-label col-xs-12 col-sm-2">{:__('Send_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_time" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[send_time]" data-rule="required" type="text" value="{$row.send_time}">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
    {/if}

    <!-- 已发货,显示完成事件 -->
    {if $row['order_state']=='3'}
    <div class="form-group">
        <label for="c-mark" class="control-label col-xs-12 col-sm-2">{:__('Mark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mark" data-rule="required" class="form-control"  name="row[mark]" readonly="readonly" type="text" value="{$row.mark}">
        </div>
    </div>
    <div class="control-label col-xs-12 col-sm-6"><a id="completion_order" class="btn btn-info">{:__('Completion Order')}</a></div>
    {/if} 

    <!-- 已完成,显示完成事件 -->
    {if $row['order_state']=='4'}
    <div class="form-group">
        <label for="c-send_user" class="control-label col-xs-12 col-sm-2">{:__('Send_user')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_user" data-rule="" class="form-control" name="row[send_user]" type="text" readonly="readonly"   value="{$row.send_user}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-send_time" class="control-label col-xs-12 col-sm-2">{:__('Send_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_time" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" readonly="readonly"  data-use-current="true" name="row[send_time]" type="text" value="{$row.send_time}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mark" class="control-label col-xs-12 col-sm-2">{:__('Mark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mark" data-rule="required" class="form-control"  name="row[mark]" readonly="readonly" type="text" value="{$row.mark}">
        </div>
    </div>
    {/if}


    <!-- 已作废，显示-->
    {if $row['order_state']=='5'}
    <div class="form-group">
        <label for="c-mark" class="control-label col-xs-12 col-sm-2">{:__('Mark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mark" data-rule="required" class="form-control"  name="row[mark]" readonly="readonly" type="text" value="{$row.mark}">
        </div>
    </div>
    {/if}

</form>
